# Ignore Obsidian data directory
.obsidian/

# Ignore all executables in all directories
**/*.exe

# Ignore Blog directory
Blog/

# Ignore README file at the root
README.md

# Local Netlify folder
.netlify
